/* This css file contain styles for elements in the Dashboard Page */

#dashboard-page.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 56px 240px;
    background: var(--surface-secondary);
}

.header {
    width: 100%;
    display: flex;
    gap: 24px;
}

.search-bar {
    flex: 1;
    padding: 8px 20px;
    font-size: 16px;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    outline: none;
    background: var(--surface-secondary);
    color: var(--text-secondary)
}

.search-bar::placeholder {
    color: var(--placeholder-text);
    font-size: 12px;
}

#activity-page-link, #toggle-theme-btn {
    padding: 8px 12px;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    background: var(--surface-secondary);
    cursor: pointer;
    outline: none;

    svg {
        font-size: 20px;
        color: var(--icon-primary);
    }
}

:is(#activity-page-link, #toggle-theme-btn):hover {
    background: var(--icon-surface-hover)
}

.body {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-block: 40px;
    position: relative;
    background: var(--surface-secondary);
   
}

#no-tasks {
    font-size: 16px;
    color: var(--text-third);
    align-self: center;
}

.task {
    height: fit-content;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: var(--task-surface);
}

#taskContent {
    flex: 1;
    color: var(--text-secondary);
}


.task-check {
    background-color: var(--surface-secondary);
}

.task-check:checked {
    background: var(--button-primary);
}


#edit-task-button, #delete-task-button {
    padding: 4px;
    width: 64px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}


#edit-task-button {
    background: var(--button-primary);
    color: var(--text-primary);
}

#edit-task-button:hover {
    background: var(--button-primary-hover);
}

#delete-task-button {
    background: var(--surface-secondary);
    color: var(--placeholder-text);
}

#delete-task-button:hover {
    background: var(--button-hover-secondary);
    color: var(--text-primary)
}
















dialog {
    width: 60%;
    background: var(--task-surface);
    border: 0;
    border-radius: 8px;
    box-shadow: var(--shadow);
    position: absolute;
    align-self: center;
    justify-self: center;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 101;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 100; 
  }



#dialog-title {
    color: var(--text-secondary);
}

#dialog-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#task-input {
    background: var(--task-surface);
    border: 0;
    border-bottom: 1px solid var(--border-secondary);
    padding: 12px 0px;
    font-size: 16px;
    color: var(--text-secondary);
    outline: none;
}

#task-input::placeholder {
    color: var(--placeholder-text);
    font-size: 12px;
}

#task-input:focus {
    border-color: var(--border-secondary-active);
}

#dialog-control-buttons {
    display: flex;
    justify-content: end;
    gap: 20px;
}

#cancel-button, #add-task-button {
    padding: 8px 0px;
    width: 100px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    
}

#cancel-button {
    background: var(--surface-secondary);
    color: var(--placeholder-text);
}

#cancel-button:hover {
    background: var(--button-hover-secondary);
    color: var(--text-primary)
}

#add-task-button {
    background: var(--button-primary);
    color: var(--text-primary);
}

#add-task-button:hover {
    background: var(--button-primary-hover);
}

#display-add-task-dialog {
    padding: 8px 8px;
    background: var(--button-primary);
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    outline: none;
    svg {
        font-size: 20px;
        color: var(--text-primary);
    }
}

#display-add-task-dialog:hover {
    background: var(--button-primary-hover);
}



