/* CSS File which contains style variables for our application. */

:root {
    /* Color styles */
    --surface-primary: #fff;
    --surface-primary-hover: #F1F1FA;
    --text-primary: #fff;
    --text-primary-black: #000000;
    --text-primary-red: #FE0202;
    --text-third: #B2B2BE;
    --placeholder-text: #B2B2BE;
    --button-primary: #8BA0F3;
    --button-secondary: #4156A1;
    --button-third: #F1F1FA;
    --button-primary-hover: #2D6BC8;
    --button-hover-secondary: #FE0202;    
    --border-primary: #E0E0EC;
    --border-secondary: #7681AA;
    --border-secondary-active: #4156A1;
    --icon-hover-secondary: #FE0202;


    /* Effect styles */
    --shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);

}

.light-theme {
    --text-secondary: #000000;
    --surface-secondary: #FFFFFF;
    --task-surface: #F1F1FA;
    --task-complete-surface: #DAE0E5;
    --icon-primary: #000000;
    --icon-surface: #FFFFFF;
    --icon-surface-hover: #DAE0E5;
}

.dark-theme {
    --text-secondary: #fff;
    --surface-secondary: #272935;
    --task-surface: #35344A;
    --task-complete-surface: #575578;
    --icon-primary: #FFFFFF;
    --icons-surface: #272935;
    --icon-surface-hover: #575578;
}